
<div id='question-container'>
  <% @questions.each do |question| %>
    <%= erb :'questions/_question', locals: { question: question } %>
  <% end %>

</div>

<% if session[:user_id] != nil %>
  <div class='ask-question-button-container max-w-700 center'>
    <a class='ask-question-button' href="/questions/new">Ask a Kwestion</a>
  </div>
<% end %>
