
<div id='question-container'>
  <% @questions.each do |question| %>
    <%= erb :'questions/_question', locals: { question: question } %>
  <% end %>

</div>


<div class='ask-question-button-container max-w-700 center'>
  <% if session[:user_id] != nil %>
  <a class='ask-question-button' href="/questions/new">Ask a Kwestion</a>
  <% end %>
</div>
