<% if defined? errors %>
  <% errors.each do |error| %>
    <div>
      <%= error %>
    </div>
  <% end %>
<% end %>

<form id='question-form' action='/questions' method='POST'>
  <label for='text'>Ask a Kwestion:</label>
  <input id='title' name='question[title]' type='text' placeholder='Title' />
  <div>
  <textarea id='text' name='question[text]' placeholder='Description'></textarea>
  </div>
  <input id='kwest-button' type='submit' value='kwest!!' />
</form>
