<% if defined? errors %>
  <% errors.each do |error| %>
    <div>
      <%= error %>
    </div>
  <% end %>
<% end %>

<form id='comment-form' action='/<%= action %>' method='post'>
  <textarea class='comment-text' name='text' placeholder='Type your comment...'></textarea>
  <p></p>
  <input id='submit' type='submit' value='comment' />
</form>
