<% if defined? errors %>
  <% errors.each do |message| %>
  <p class="errors"> <%= message %> </p>
  <% end %>
<% end %>

<form id="session_form" action="/users" method="post">

  <input type="text" name="user[username]" placeholder="Username"/>
  <input type="text" name="user[email]" placeholder="Email"/>
  <input type="password" name="user[password]" placeholder="Password"/>
  <input type="submit" value="Sign up!" class="button"/>


</form>
